---
const name = "Astro"
const style = "purple"
---

<h1 class={style}>Hello {name}</h1>

<style>
  body {
    background-color: #333;
  }

  h1 {
    color: beige;
  }

  .purple {
    color: purple;
  }
</style>
